= form_for @employee, { html: { class: 'form-horizontal' } } do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :nickname, class: 'control-label'
    .controls
      = f.text_field :nickname
  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password
  .control-group
    = f.label :birthdate, class: 'control-label'
    .controls
      #datepicker.input-append
        = f.text_field :birthdate, { "data-format" => "yyyy-MM-dd" }
        %span.add-on
          %i{ "data-time-icon" => 'icon-time', "data-date-icon" => 'icon-calendar' }

      -# = f.date_select :birthdate, use_short_month: true, start_year: 1980, class: 'controls'
  .control-group
    = f.label :originate_start_date, class: 'control-label'
    .controls
      #datepicker_start_date.input-append
        = f.text_field :originate_start_date, { "data-format" => "yyyy-MM-dd" }
        %span.add-on
          %i{ "data-time-icon" => 'icon-time', "data-date-icon" => 'icon-calendar' }
      -# = f.date_select :originate_start_date, use_short_month: true, start_year: 2008
  .control-group
    = f.label :originate_end_date, class: 'control-label'
    .controls
      #datepicker_end_date.input-append
        = f.text_field :originate_end_date, { "data-format" => "yyyy-MM-dd" }
        %span.add-on
          %i{ "data-time-icon" => 'icon-time', "data-date-icon" => 'icon-calendar' }
      -# = f.date_select :originate_end_date, use_short_month: true, start_year: 2008
  .control-group
    = f.label :current_employee, class: 'control-label'
    .controls
      = f.check_box :current_employee
  .control-group
    = f.label :years_prior_exp, class: 'control-label'
    .controls
      = f.number_field :years_prior_exp
  .control-group
    = f.label :university, class: 'control-label'
    .controls
      = f.text_field :university
  .control-group
    = f.label :degree, class: 'control-label'
    .controls
      = f.text_field :degree
  .control-group
    = f.label :is_system_admin, class: 'control-label'
    .controls
      = f.check_box :is_system_admin
  .control-group
    = f.label :is_admin, class: 'control-label'
    .controls
      = f.check_box :is_admin
  .control-group
    .controls
      = f.submit 'Save', class: 'btn'
      = link_to "Cancel", employees_path, class: 'btn'
