%table
  %tr
    %th Name
    -# %th id
    %th Nickname
    -# %th Birthdate
    %th Originate start date
    %th Originate end date
    %th Current employee
    -# %th Years prior exp
    -# %th University
    -# %th Degree
    %th Is system admin
    -# %th Is admin
    %th
    %th
    %th

  - @employees.each do |employee|
    %tr
      %td= link_to "#{employee.name}", employee
      -# %td= employee.id
      %td= link_to "#{employee.nickname}", employee
      -# %td= employee.birthdate
      %td= employee.originate_start_date
      %td= employee.originate_end_date
      %td= employee.current_employee
      -# %td= employee.years_prior_exp
      -# %td= employee.university
      -# %td= employee.degree
      %td= employee.is_system_admin
      -# %td= employee.is_admin
      %td= link_to 'Edit', edit_employee_path(employee)
      %td= link_to 'Destroy', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to 'Bonuses', bonuses_path(employee.nickname)

%br

= link_to 'New Employee', new_employee_path
