= form_for @contract, { html: { class: 'form-horizontal' }, remote: true, url: contracts_path(from: from) } do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :start_date, class: 'control-label'
    .controls
      #datepicker_start_date.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
        = f.text_field :start_date, { "data-format" => "yyyy-MM-dd", readonly: true }
        %span.add-on
          %i{ class: "icon-remove" }
        %span.add-on
          %i{ class: "icon-time" }
  .control-group
    = f.label :end_date, class: 'control-label'
    .controls
      #datepicker_end_date.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
        = f.text_field :end_date, { "data-format" => "yyyy-MM-dd", readonly: true }
        %span.add-on
          %i{ class: "icon-remove" }
        %span.add-on
          %i{ class: "icon-time" }
  .control-group
    = f.label :salary, class: 'control-label'
    .controls
      = f.text_field :salary
  .control-group
    = f.label :employee, class: 'control-label'
    .controls
      = collection_select :contract, :employee_id, Employee.all, :id, :email, { selected: selected_emp }
  .control-group
    .controls
      = f.submit 'Save', class: 'btn'
      = f.submit 'Save as Draft', class: 'btn'
      = link_to 'Cancel', contracts_path, class: 'btn'

