%table.table.table-striped.table-hover.table-bordered
  %tr
    %th Start date
    %th End date
    %th Salary
    %th Employee
    %th
    %th

  - @contracts.each do |contract|
    %tr
      %td= contract.start_date
      %td= contract.end_date
      %td= contract.salary
      %td= contract.employee
      %td
        %ul.inline
          %li= link_to (content_tag(:i, '', class: 'icon-search') ).html_safe, contract, { tabindex: '-1' }
          %li= (link_to (content_tag(:i, '', class: 'icon-edit') ).html_safe, edit_contract_path(contract), { tabindex: "-1" }) if can? :edit, contract
          %li= (link_to (content_tag(:i, '', class: 'icon-trash')).html_safe, contract, { tabindex: "-1", :method => :delete, data: { confirm: 'Are you sure?'}, remote: true }) if can? :delete, contract
      %td= link_to 'Salary Activities', contract_salary_activities_path(contract)
