%h1 Listing contracts

%table
  %tr
    %th Start date
    %th End date
    %th Salary
    %th Employee
    %th
    %th
    %th

  - @contracts.each do |contract|
    %tr
      %td= contract.start_date
      %td= contract.end_date
      %td= contract.salary
      %td= contract.employee
      %td= link_to 'Show', contract
      %td= link_to 'Edit', edit_contract_path(contract)
      %td= link_to 'Destroy', contract, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contract', new_contract_path
