= content_for :modal do
  #contract-modal.modalDialog.hideModal
    %div
      = link_to "X", "#close", class: 'closeModal', title: "Close"
      .modal-body
  #bonuses-modal.modalDialog.hideModal
    %div
      = link_to "X", "#close", class: 'closeModal', title: "Close"
      .modal-body
  #notes-modal.modalDialog.hideModal
    %div
      = link_to "X", "#close", class: 'closeModal', title: "Close"
      .modal-body
  #new-note-modal.modalDialog.hideModal
    %div
      = link_to "X", "#close", class: 'closeModal', title: "Close"
      .modal-body

#table-head
  %h1 Dashboard
  = form_tag "#", method: 'get', class: 'navbar-search pull-right' do
    = text_field_tag "filter", "", class: 'search-query', placeholder: 'Filter'

%br
#priority-employees
  .priorities.pull-left
    #high
      %h2 Within 50 days
      = render 'priority_employees', emp_days: @high_employees, btn_type: "btn-danger"
  .priorities.pull-left
    #medium
      %h2 Within 90 days
      = render 'priority_employees', emp_days: @medium_employees, btn_type: "btn-warning"
  .priorities.pull-left
    #low
      %h2 More than 90 days
      = render 'priority_employees', emp_days: @low_employees, btn_type: "btn-primary"
