#table-head
  %h1 Dashboard
  = form_tag "#", method: 'get', class: 'navbar-search pull-right' do
    = text_field_tag "filter", "", class: 'search-query', placeholder: 'Filter'
  
%br
-# = render 'employees/table'
#priority-employees
  #high.priorities
    = render 'priority_employees', emp_days: @high_employees
  #medium.priorities
    = render 'priority_employees', emp_days: @medium_employees
  #low.priorities
    = render 'priority_employees', emp_days: @low_employees
= link_to 'List all employees', ajax_list_all_employees_path, remote: true, id: 'link_list'
%br
= link_to 'New Employee', new_employee_path
