= form_for @bonus, url: ( @action unless @action.nil? ), html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :amount, class: 'control-label'
    .controls
      = f.text_field :amount
  .control-group
    = f.label :distribution_date, class: 'control-label'
    .controls
      #datepicker.input-append.date{ "data-date-format" => "yyyy-mm-dd" }
        = f.text_field :distribution_date, { "data-format" => "yyyy-MM-dd", readonly: true }
        %span.add-on
          %i{ class: 'icon-remove'}
        %span.add-on
          %i{ class: 'icon-time'}

  .control-group
    = f.label :comment, class: 'control-label'
    .controls
      = f.text_area :comment, size: "8*5"
  .control-group
    .controls
      = f.submit "Save", class: "btn"
      = link_to 'Back', bonuses_path, class: 'bwtn'


