= form_for @bonus, url: ( @action unless @action.nil? ), html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :amount, class: 'control-label'
    .controls
      = f.text_field :amount
  .control-group
    = f.label :distribution_date, class: 'control-label'
    .controls
      #datepicker.input-append
        = f.text_field :distribution_date, { "data-format" => "yyyy-MM-dd" }
        %span.add-on
          %i{ "data-time-icon" => 'icon-time', "data-date-icon" => 'icon-calendar', class: 'icon-calendar' }

  .control-group
    = f.label :comment, class: 'control-label'
    .controls
      = f.text_area :comment
  .control-group
    .controls
      = f.submit "Save", class: 'btn'
      = link_to 'Back', bonuses_path, class: 'btn'


