%table.table.table-hover.table-bordered.table-striped
  %tr
    %th Bonus Amount
    %th Distribution Date
    %th Comment
    - if can_operate?
      %th

  - @bonuses.each do |bonus|
    %tr
      %td= bonus.amount
      %td= bonus.distribution_date
      %td= bonus.comment
      - if can_operate?
        %td
          %ul.inline
            %li= link_to (content_tag(:i, '', class: 'icon-edit') ).html_safe, edit_bonus_path(@employee.nickname, bonus), { tabindex: "-1" }
            %li= link_to (content_tag(:i, '', class: 'icon-trash')).html_safe, bonus_path(@employee.nickname, bonus), { tabindex: "-1", :method => :delete, data: { confirm: 'Are you sure?'}, remote: true }
