%h1 Bonuses#index
%h2
  The bonuses of #{@employee.nickname}
%table
  %tr
    %th Bonus Amount
    %th Distribution Date
    %th Comment

  - @bonuses.each do |bonus|
    %tr
      %td= bonus.amount
      %td= bonus.distribution_date
      %td= bonus.comment
      %td= link_to "Edit", edit_bonus_path(@employee.nickname, bonus)
      %td= link_to 'Destroy', bonus, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to "New Bonus for #{@employee.nickname}", new_bonus_path(@employee.nickname)

