!!!
%html
  %head
    %title HrTracker
    = yield :head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield :modal
    .container-narrow
      = render 'shared/header'

      = good if defined? good

      = render_breadcrumbs

      = yield
      = render "shared/footer"
