!!!
%html
  %head
    %title HrTracker
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          = render 'shared/session'
        %h3.nav.muted= link_to "HR Tracker", root_path
        %hr
      = render 'shared/message'

      = render_breadcrumbs

      = yield
      = render "shared/footer"
